html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img{
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
a:hover{
    transform: scale(1.05);
    transition: all 0.4s ease;
}
.product:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
    box-shadow: 3px 5px 1px 1px #2c2c2c;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color:aliceblue;
    text-decoration:none;
}


.header{
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;

    background-color:#7D3D22;
    height: 100px;
    width: 100%;
}

.navbarLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2%;

    min-width: 20%;

    cursor: pointer;
}

#bars{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #7D3D22;
}
#bars:hover{
    background-color: black;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;


    max-width: 200px;
    height: 91px;

    font-size: 30px;
    border-radius: 5px;

    cursor: pointer;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2px 7px;
    width: 31%;
    height: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    border-color: black;
}

#searchBar{

    width: 100%;
    border-radius: 3px;

    background-color: aliceblue;
    color: #555555;
    font-size: 15px;

    border: none;
    outline: none;
    box-shadow: none;
}

#magnifyingGlass{
    color: black;
}

.headerEndContainer{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

#shoppingCart{
    cursor: pointer;
    color: aliceblue;
}
#shoppingCart:hover{
    color: black;
}

#dropDown{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 9999;

    margin-top: 100px;
    min-width: 15%;
    height: fit-content;
    background-color: #7D3D22;
    border-radius: 0 0 10px 0;
}

.dropDownText{
    display: flex;
    flex-direction: column;
}

.dropDownRubrik{
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline;
}

.dropDownTextP{
    color: aliceblue;
    text-decoration: none;
}
.dropDownTextP:hover{
    cursor: pointer;
    text-decoration: underline;
}



.mainBack{
    display: flex;
    align-items: flex-end;

    background-color: #D67622;
    width: 100%;
    height: 450px;
    padding-bottom: 100px;
}

.mainContainer{
    display: flex;
    gap: 2%;
    justify-content: space-around;

    width: 100%;
}
.mainContainer img{
    max-width: 100%;
}

.imageDiv{
    background-color: white;
    max-width: 30%;
    height: 320px;
    border-radius: 5px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2%;

    width: fit-content;
}

.mainButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7D3D22;
    color: aliceblue;
    font-size: 45px;
    height: fit-content;
    border-radius: 5px;
    padding: 2%;
    padding: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;

    scroll-margin-top: 400px;
}

.mainButton:hover{
    text-decoration: underline;
    color: aliceblue;
}

#popular, #nyheter, #sommar{
    scroll-margin-top: 100px;
}


.popularText{
    text-align: center;

    color: #555555;
    font-size: 40px;
}
#allProductsText{
    margin-top: 150px;
    float: right;
    margin-right: 7%;
    font-weight: 600;
}

#star{
    color: gold;
    margin: 2px 0 10px 0;
}




.footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    background-color: #D67622;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:10%;
}

.footerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: aliceblue !important;
}
.footerText p:hover{
    padding-left: 8px;
}

.footerText h2{
    font-weight: 500;
    font-size: larger;
    text-decoration: underline;
}

.footerIcons{
    display: flex;
    gap: 15px;
    flex-direction: column;
}







.productContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: fit-content;
    width: 100%;
    padding: 100px 0 100px 0;
    background-image: linear-gradient(to right, #7D3D22, #D67622 , #7D3D22);
}

.productInfoContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.productContainer input{
    width: 30px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.prodcutTextContainer div{
    display: flex;
    align-items: flex-end;
    gap: 5%;
}

#productDescription{
    display: flex;
    flex-wrap: wrap;

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#productDescription h2{
    padding-left: 10%;
    text-decoration: underline;
    margin: 50px 0 0 0;
}
#singleProduct{
    padding-top: 100px;
    font-size: larger;
}
#singleProduct img{
    max-width: 320px;
    max-height: 320px;
}
#singleProduct .title{
    font-size: 50px;
    margin: 0;
}
#singleProduct .price{
    margin: 5px 0 30px 0;
}
#singleProduct .ratingPriceContainer{
    display: flex;
    flex-direction: column;
}
#singleProduct #priceText{
    gap: 3%;
    font-size: xx-large;
    margin-bottom: 5%;
}
#singleProduct .formContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}
#productDescriptionContainer{
    width: 100%;
}






.products, .products1, .products2, .products3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3%;
    width: 84%;
    padding: 10% 3% 0 3%;
    margin: 0 5% 0 5%;

    background-color: #D67622;
}
.product{
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    color: aliceblue;
}
.product:hover{
    text-decoration: underline;
    color: aliceblue;
}
.products img{
    max-width: 100%;
}
.products .title{
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 0;
}
.products .price{
    font-size: large;
    text-align: center;
}
.products .priceContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 25% 0 25%;
}