html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: black;
}

img{
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
a:hover{
    transform: scale(1.05);
    transition: all 0.4s ease;
}


table {border: 1px solid white;
height: 500px;
width: 100%;}
.header{
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    background-color:#7D3D22;
    height: 100px;
    width: 100%;
}

.navbarLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 2%;

    width: 20%;

    cursor: pointer;
}

#bars{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #7D3D22;
}
#bars:hover{
    background-color: black;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 200px;
    height: 91px;

    font-size: 30px;
    border-radius: 5px;

    cursor: pointer;
}

.searchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2px 7px;
    width: 31%;
    height: 25px;
    background-color: aliceblue;
    border-radius: 5px;
    border-color: black;
}

#searchBar{

    width: 100%;
    border-radius: 3px;

    background-color: aliceblue;
    color: #555555;
    font-size: 15px;

    border: none;
    outline: none;
    box-shadow: none;
}

.searchOptionsContainer{
    display: flex;
    justify-content: center;

    width: 100%;
}
.searchOptions{
    background-color: white;
    width: 20%;
    height: fit-content;
    padding: 15px;
    color: #555555;
    border-radius: 0 0 5px 5px;

    position: fixed;
    margin-top: 65px;
    z-index: 999999;

}

#magnifyingGlass{
    color: black;
}

.headerEndContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 20%;
}

#shoppingCart{
    cursor: pointer;
    color: aliceblue;
}
#shoppingCart:hover{
    color: black;
}

#dropDown{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 9999;

    margin-top: 100px;
    width: 12%;
    height: fit-content;
    background-color: #7D3D22;
    border-radius: 0 0 10px 0;
}

.dropDownText{
    display: flex;
    flex-direction: column;
}

.dropDownRubrik{
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline;
}

#dropDownTextP{
    color: aliceblue;
    text-decoration: none;
}
#dropDownTextP:hover{
    text-decoration: underline;
    text-decoration-color: aliceblue;
    cursor: pointer;
}
.dropDownText a:visited{
    text-decoration: none;
}



.mainBack{
    display: flex;
    align-items: flex-end;

    background-color: #D67622;
    width: 100%;
    height: 450px;
    padding-bottom: 100px;
}

.mainContainer{
    display: flex;
    gap: 2%;
    justify-content: space-around;

    width: 100%;
}
.mainContainer img{
    max-width: 100%;
}

.imageDiv{
    background-color: white;
    max-width: 30%;
    height: 320px;
    border-radius: 5px;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2%;

    width: fit-content;
}

.mainButton{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7D3D22;
    color: aliceblue;
    font-size: 45px;
    height: fit-content;
    border-radius: 5px;
    padding: 2%;
    padding: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;

    scroll-margin-top: 400px;
}

.mainButton:hover{
    text-decoration: underline;
    color: aliceblue;
}
.mainButton a:visited{
    text-decoration: none;
}

#popular, #nyheter, #sommar{
    scroll-margin-top: 100px;
}


.popularText{
    text-align: center;

    color: #555555;
    font-size: 40px;
}
#allProductsText{
    margin-top: 150px;
    float: right;
    margin-right: 7%;
    font-weight: 600;
}

.imageContainer{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-top: 30px;
    background-color: #D67622;
    height: fit-content;
    width: 80%;
}

.allProuctsContainer{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 0 21%;

    padding-top: 30px;
    background-color: #D67622;
    width: 98%;
}

.imageTextContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: larger;
    cursor: pointer;
}
.imageTextContainer:hover{
    text-decoration: underline;
}
.imageTextContainer img{
    max-width: 100%;
}
.imageTextContainer p{
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 0;
}
#star{
    color: gold;
    margin: 2px 0 10px 0;
}




.footer{
    display: flex;
    justify-content: space-around;

    background-color: #D67622;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:10%;
}

.footerText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footerText p:hover{
    padding-left: 8px;
}

.footerRubrik{
    font-weight: 500;
    font-size: larger;
    text-decoration: underline;
}

.footerIcons{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 1%;
}



.productContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;

    height: fit-content;
    padding: 200px 0 200px 0;
    width: 100%;
    background-image: linear-gradient(to right, #7D3D22, #D67622 , #7D3D22);
}

.productInfoContainer{
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.productName{
    font-size: 50px;
    margin: 0;
}

.prodcutTextContainer{
    width: 80%;
}

.productCost{
    font-size: xx-large;
    margin: 5px 0 30px 0;
}

#sizeForm{
    width: 130px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    border: none;
}
.productContainer input{
    width: 30px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.prodcutTextContainer div{
    display: flex;
    align-items: flex-end;
    gap: 5%;
}

#productDescription{
    display: flex;
    flex-wrap: wrap;

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
#productDescription h2{
    padding-left: 10%;
    text-decoration: underline;
    margin: 50px 0 0 0;
}


.addToCart{
    display: flex;
    justify-content: center;
    align-items: center !important;

    background-color: #7D3D22;
    width: 180px;
    height: 75px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: x-large;
    color: aliceblue !important;
    text-decoration: none;
}
.addToCart:hover{
    text-decoration: underline;
}
#productDescriptionContainer{
    width: 100%;
}